

<!-- reservation.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>予約受付リスト</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>名前</th>
                <th>メールアドレス</th>
                <th>日付</th>
                <th>時間</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="/">予約受付フォームへ</a>
</div>


{% endblock %}
